<!-- Form input: -->
<script type="text/template" xmlns="http://www.w3.org/1999/html" id="form-input-template" enctype="multipart/form-data">
    <label class="control-label"><%= config.label %></label>
    <div class="controls">
        <input type="text" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"
               value="<%= config.currentValue ? config.currentValue : '' %>">
    </div>
</script>

<!-- Form textarea: -->
<script type="text/template" xmlns="http://www.w3.org/1999/html" id="form-textarea-template" enctype="multipart/form-data">
    <label class="control-label"><%= config.label %></label>
    <div class="controls">
        <textarea name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"><%= config.currentValue %></textarea>
    </div>
</script>

<!-- Form password: -->
<script type="text/template" xmlns="http://www.w3.org/1999/html" id="form-password-template" enctype="multipart/form-data">
    <label class="control-label"><%= config.label %></label>
    <div class="controls">
        <input type="password" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>">
    </div>
</script>

<!-- Form select: -->
<script type="text/template" xmlns="http://www.w3.org/1999/html" id="form-select-template" enctype="multipart/form-data">
    <label class="control-label"><%= config.label %></label>
    <div class="controls">
        <select>
            <% if (typeof config.placeholder === 'string') {%>
            <option><%= config.placeholder %></option>
            <% } %>
            <% _.each(config.options, function (opt) { %>
            <option value="<%= opt.value %>"><%= opt.name %></option>
            <% }); %>
        </select>
    </div>
</script>

<!-- Form Submit Button: -->
    <script type="text/template" xmlns="http://www.w3.org/1999/html" id="form-submit-template" enctype="multipart/form-data">
    <div class="controls">
        <input class='btn submit' type='submit' name='<%= data.text %>' value='<%= data.text ? data.text : "Submit" %>' />
    </div>
</script>
